<h2>Madgrades API</h2>

<% if current_user %>
  <p>
    Signed in as <%= current_user.name %>
    (<%= link_to 'Sign out', signout_path, id: 'sign_out', class: 'button-primary' %>)
  </p>

  <!--
  <p>
    <strong>Connected accounts:</strong>
  </p>
  <ul>
    <% current_user.identities.each do |identity| %>
      <li>
        <%= identity.provider_name %>
        <% if current_user.identities.size > 1 %>
          (<%= link_to 'Remove', disconnect_provider_url(identity.provider) %>)
        <% end %>
      </li>
    <% end %>
  </ul>
  -->

  <p>
    <strong>API Token: </strong>
    <code><%= current_user.api_token %></code>
    (<%= link_to 'Regenerate', regenerate_api_token_path, data: {confirm: "Are you sure?"} %>)
  </p>

  <p>
    <strong>Example:</strong>
  </p>
  <pre><code>curl -H "Authorization: Token token=<%= current_user.api_token %>" <%= courses_url %></code></pre>
<% else %>
  <%= link_to '/auth/github', class: 'button' do %>
    <%= fa_icon "github", class: 'fa-2x', style: 'vertical-align: middle' %>
    <span style='vertical-align: middle'>Sign in with Github</span>
  <% end %>
<% end %>

<hr/>

<%= render partial: 'pages/docs' %>