<!DOCTYPE html>
<html>
<head>
  <title>Google Auth Example App</title>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to 'Sign out', signout_path, id: 'sign_out' %>
  <% else %>
    <%= link_to 'Sign in with Google', '/auth/google_oauth2' %>
    <%= link_to 'Sign in with Github', '/auth/github' %>
  <% end %>
</div>
<div>
  <%= yield %>
</div>
</body>
</html>